body {
    background: #cba4db;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 10rem;
    color: fuchsia;
}


li {
    text-decoration: none;
    list-style: none;
    font-size: 3rem;
    padding: 3%;
}

.favoritePerson {
    color: #ed0b45;
    text-decoration: underline;
}

.pink {
    color: fuchsia;
}

img {
    padding-top: 5%;
    height: 550px;
    width: 600px;
}